<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testng" verbose="1" parallel="tests" thread-count="1" group-by-instances="true">
    <test name="UnregisteredUser">
        <classes>
            <class name="tests.web_test.BuyItems"></class>
        </classes>
    </test>
</suite>